---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
    class:list={[className, { 'text-main! bg-muted': isActive }]}
    href={href}
    aria-current={isActive ? 'page' : undefined}
    {...props}
>
    <slot />
</a>
